.tile {
    flex-basis: 30%;
    background-color: #F6908E;
    margin: 1%;
    /* text-align: center;  */
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.tile img {
    visibility: hidden;
}

.permFlipped, .flipped{
    background-color: #EEDCCE;
}

.permFlipped img, .flipped img{
    visibility: visible;
}

img {
    width: 30%;
    margin: 2%;
}